.navbar-light {
    height: 60px;
    background-color: white;
}

.navbar-light .navbar-brand {
    background-color: #4aaaa5;
    color: white;
    font-size: x-large;
    font-weight: bold;
    width: 120px;
    height: 60px;
    text-align: center;
    vertical-align: text-bottom;
}

body {
    margin-top: 60px;
    background-color: lightgray;
}

hr { 
    width: 98%;
    /* text-align:center;  */
    margin: 0 auto;
    
  }

.jumbotron {
    
    background-color: white;
    
}

.jumbotron h1 {
    color: #4aaaa5;
}

.card {
    background-color: white;
    
}

.card h1 {
    color: #4aaaa5;
    margin-top: 60px;
    margin-left: 20px;
    text-align: left;
}


@media (max-width: 1000px) {

    .no-gutter > [class*='col-'] {
        padding-right:0;
        padding-left:0;
    }

    .navbar-light {
        background-color: #4aaaa5;
        color: white;
    }

    .navbar-light .navbar-brand {
        color: white;
        font-size: x-large;
        font-weight: bold;
        width: 120px;
        height: 40px;
        text-align: center;
        vertical-align: text-bottom;
    }

}
/* img {
    display: inline-block;
    margin: 15px 5px;
  } */